body {
  font-family: "Open Sans", sans-serif;
  background: #FFFFFF;
  padding: 0px;
  margin: 0px;
  transition: background-color .5s;
}

.sideNav .close 
{
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
  margin-left: 0px;
}


.logo ul
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  float: right;
  margin: 20px;
  margin-right: 200px;
  color: black;
}

.logo ul li a
{
  display: block;
  padding: 0px;
  margin: 0px;
  color: #757575;
  text-decoration: none
}

.logo ul li
{
  display: inline-block;
  padding: 10px;
  margin: 0px;
  text-decoration: none
}

@media screen and (max-width:600px) 
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .logo ul li{padding: 0px;}
  .logo ul{margin: 20px}
}
.sideNav 
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FFC107;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideNav a 
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sideNav a:hover, .offcanvas a:focus{
  color: #757575;
}



.html
{
  min-height: 100%;
}
.header
{
  height:120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 9px  black;
}

.nav
{
  padding: 0px;
  margin: 0px;
  max-height: 40%;
}

.nav ul li
{
  display: inline-block;
  padding: 0px;
  margin: 0px;

}

.nav ul
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #673AB7;
}

.nav li.login
{
  float: right;
}

.nav li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#main 
{
  transition: margin-left .5s;
}

.nav ul li a:hover
{
  background: #512DA8;
}

.logo
{
  color: #FFC107;
  font-family: helvetica;
  font-size: 113%;
  padding-left: 10px;
}

.open,.close
{
  font-size: 30px;
  cursor: pointer;
  padding-right: 10px;
}


.button
{
  border: none;
  border-bottom-style: none;  
  background: inherit;
  color: white;
  font-size: 100%;
  cursor: pointer;
  padding: 14px 16px;
}


.myDrop
{
  display:none;
  position: absolute;
  background: #C5CAE9;
  min-width: 160px;
  box-shadow: 1px 2px 3px black;
}


.myDrop a
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.myDrop a:hover
{
  background: #FFC107;
}

.show
{
  display: block;
  margin-left: 77px;
}